<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-avatar>
      <img src="assets/img/wall.png" style="margin: 20% 20% 20% 50%;"/>
    </ion-avatar>
    <ion-card-content>
      <p>
        Name: Prashant Shrestha
      </p>
      <p>
        Student ID: 0972692
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
